# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local database files
*.db
*.sqlite
*.sqlite3

# Power BI temporary files
*.tmp

# Streamlit secrets
.streamlit/secrets.toml